target
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
resources/public/js
.rebel_readline_history
js
chrome-svg-animation-assistant
/out
/.repl
*.log
/.env
.*.swp
workspace
/*.exe
/*.zip
node_modules
package*.json
.lein-env
animate*.js
